<!DOCTYPE html>
<html lang="en">

<!-- adding admin head partials -->
<!-- ======= Head ======= -->
<%- include('partials/adminHead') %>
<!-- End Head -->


<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


              <div class="d-flex justify-content-center py-4">
                <a href="/adminHome" class="logo d-flex align-items-center w-auto">
                  <img src="../images/logo.png" alt="">
                  <span class="d-none d-lg-block">LuxeWalk - Admin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Edit <span style="color: #181869; font-size: inherit; font-weight: 800;"><%= categoryName.name %></span> Category</h5>
                    <p class="text-center small">Enter details to edit Category</p>
                  </div>

                  <form class="row g-3  editCategoryForm"  action="/admin/products/category/editDB/<%= categoryName.name %>" method="post">
                    <div class="col-12">
                      <label for="yourName" class="form-label">Name</label>
                      <input type="text" name="name" class="form-control" id="yourName" value="<%= categoryName.name %>" required>
                      <div id="error-name" style="display: none;" class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <div class="input-group">
                          <input type="text" name="description" class="form-control" id="descreption" value="<%= categoryName.description %>" required>
                          <div id="error-userName" style="display: none;" class="invalid-feedback"></div>
                        </div>
                      </div>

                    <div class="col-12">
                      <label for="parent" class="form-label">Parent Category  &emsp;</label>
                      <select name="parent" class="form-select">
                        <option value="" selected>None</option>
                        <% category.forEach( (category) => { %> 
                            <option value="<%= category._id %>" ><%= category.name %></option>
                        <% }) %>
                      </select>
                      <div id="error-email" style="display: none;" class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="mt-5">
                        <% if(typeof err !== 'undefined') { %>
                          <script>
                            Swal.fire({
                              title: "<%= err %>",
                              icon: "error",
                              showClass: {
                                popup: `
                                  animate__animated
                                  animate__fadeInUp
                                  animate__faster
                                `
                              },
                              hideClass: {
                                popup: `
                                  animate__animated
                                  animate__fadeOutDown
                                  animate__faster
                                `
                              }
                            });
                          </script>
                        <% } %>
                        <% if(typeof message !== 'undefined'){ %>
                          <script>
                            Swal.fire({
                              title: "<%= message %>",
                              icon: "success",                              showClass: {
                                popup: `
                                  animate__animated
                                  animate__fadeInUp
                                  animate__faster
                                `
                              },
                              hideClass: {
                                popup: `
                                  animate__animated
                                  animate__fadeOutDown
                                  animate__faster
                                `
                              }
                            });
                          </script>                        
                        <% } %>
                    </div>

                    <div class="col-12 d-flex justify-content-between">
                        <a href="/admin/products/category" type="button" class="btn btn-outline-danger">Cancel</a>
                      <button class="btn btn-outline-primary " type="submit">Edit Category</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
  <!-- End #main -->

  <!-- adding admin footer partials -->
  <!-- ======= Footer ======= -->
    <%- include('partials/adminFooter') %> 
  <!-- End footer -->

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
  
    document.addEventListener('DOMContentLoaded', () => {

    const editCategoryForm = document.querySelector('.editCategoryForm');

    editCategoryForm.addEventListener('submit', (event) => {

      event.preventDefault();

      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        cancelButtonColor: "#d33",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Yes, submit it!"
      }).then((result) => {
        if (result.isConfirmed) {
          editCategoryForm.submit();
          Swal.fire({
            title: "submitted!",
            text: "Your file has been submitted.",
            icon: "success",
            timer : 10000,
          });
        }
      });

      });

  });

  </script>

</body>

</html>