<!DOCTYPE html>
<html lang="en">

<!-- adding admin head partials -->
<!-- ======= Head ======= -->
  <%- include('partials/adminHead') %>
<!-- End Head -->

<body>
    
    <!--   adding admin header partials-->
    <!-- ======= Header ======= -->
    <%- include('partials/adminHeader') %>
    <!-- End Header -->
    
    <!-- adding admin sidebar partials -->
    <!-- ======= Sidebar ======= -->
    <%- include('partials/adminSidebar') %>
    <!-- End Sidebar -->

    <main id="main" class="main">

        <!-- Page Title-->
        <div class="pagetitle">
            <h1>All Products</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/adminHome">Home</a></li>
                <li class="breadcrumb-item">Products</li>
                <li class="breadcrumb-item active">All Products</li>
              </ol>
            </nav>
        </div><!-- End Page Title -->
        <br>
        <h1 class="d-flex justify-content-center" style="color: #012970; text-shadow: 1px 1px #b1b7ec;">All Products Information</h1>
        <br>
        
        <section class="section">
            <div class="row">
    
                <div class="card">
                    <div class="card-body pt-4">
    
                        <!-- Table with hoverable rows -->
                        <div class="table-responsive">
                            <table class="table table-hover datatable pt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">BrandName</th>
                                        <th scope="col">Category</th> 
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">View</th>
                                                                            
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach((product, index) => { %> 
                                        <tr>
                                            <th scope="row"><%= index + 1 %></th>
                                            <td scope="col"><img src="\<%= product.thumbnailsPath %>"></td>
                                            <td scope="col"><%= product.brandName %></td>
                                            <td scope="col"><%= product.category ? product.category.name : 'Unavailable' %></td>
                                            <td scope="col"><%= product.price %>.00</td>
                                            <td scope="col"><%= product.stockCount %>pc</td>
                                            <td scope="col"><a href="/admin/products/manage/view/<%= product._id %>"><button class="btn btn-outline-primary">View</button></a></td>
                                                                                  
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>

            </div>
        </section>

    </main>

    <!-- adding admin footer partials -->
    <!-- ======= Footer ======= -->
        <%- include('partials/adminFooter') %>
    <!-- End Footer -->

</body>
</html>