<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styleSheets/resetPassword.css" >
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container mt-5 mb-5 resetPassword_form">
        <div class="form-container">
            <div class="row justify-content-center ">
                <h1> Reset Password</h1>
            </div>
            <% if (typeof error !== 'undefined') { %>
                <script>
                    Swal.fire({
                        title: '<%= error %>',
                        text : '<%= text %>',
                        width : '50%',
                        timer: 5000
                    });
                </script>
            <% } %>
            <% if (typeof message !== 'undefined') { %>
                <script>
                    Swal.fire({
                        title : '<%= message %>',
                        text: '<%= text %>',
                        width : '50%',
                        timer: 5000
                    });
                </script>
            <% } %>
            <% if (typeof error !== 'undefined' ) { %>
                <% if (typeof error !== 'undefined') { %> 
                    <div style="display: flex; justify-content: center; flex-direction: column;">
                        <p style="display: flex; justify-content: center; color:red; font-weight : bold; font-size: larger; padding : 7px;"> <%= error %></p>
                        <p style="display: flex; justify-content: center; font-weight : bold; padding : 7px;"> <%= text %> <a href="/forgotPassword">click here</a> </p>
                    </div>
                <% } %>                      
            <% } else { %>
                <form class="form" method="post" action="/resetPassword"> 
                    <div class="inputs">
                        <label class="form-label"><b> Email : </b></label>
                        <input class="form-control" type="email" placeholder="example@gmail.com" name="email" id="email">
                    </div>
                    <div class="inputs">
                        <label class="form-label"><b> New Password : </b></label>
                        <input class="form-control" type="password" placeholder="a1b2C!@#3" name="password" id="password">
                    </div>
                    <div class="inputs">
                        <label class="form-label"><b> Confirm Password : </b></label>
                        <input class="form-control" type="password" placeholder="a1b2C!@#3" name="confirm" id="confirm"><br>
                        <p id="errorMessage" style="display: none; justify-content: center; color:red; font-weight : bold; "> </p>
                        <% if (typeof error !== 'undefined') { %> 
                            <p style="display: flex; justify-content: center; color:red; font-weight : bold; padding : 7px;"> <%= error %></p>
                            <p style="display: flex; justify-content: center; font-weight : bold; padding : 7px;"> <%= text %> <a href="/forgotPassword">click here</a> </p>
                        <% } %>
                        <% if (typeof message !== 'undefined') { %> 
                            <p style="display: flex; justify-content: center; color:green; font-weight : bold; padding : 7px;"> <%= message %> </p>
                            <p style="display: flex; justify-content: center; font-weight : bold; padding : 7px;"> <%= text %> <a href="/">click here</a> </p>
                        <% } %>
                    </div>
                    <div class="submit">
                        <a href="/" ><b>back to login</b></a>
                        <input class="btn btn-primary" type="submit" value="Confirm">
                    </div>
                </form>
            <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const resetForm = document.querySelector('.form');

        resetForm.addEventListener('submit', (event) => {

        event.preventDefault();

        const password = document.querySelector('#password').value;
        const confirm = document.querySelector('#confirm').value;
        const email = document.querySelector('#email'). value;
        const errorMessage = document.querySelector('#errorMessage');
    
        if( password.length < 6 ){
            errorMessage.textContent = 'Password must be 6 character long.'
            errorMessage.style.display = 'flex';
            return;
        }

        //check input field is not empty
        if(password !== confirm){
            errorMessage.textContent = 'Incorrect Password.';
            errorMessage.style.display = 'flex';
            return;
        }

    resetForm.submit();

    });

    </script>
</body>
</html>